.navbar {
    margin-bottom: 0;
}
.common-form .form-control {
    border-color: #ccc;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    box-shadow: none;
    height: 45px;
}
.common-form .form-control:focus {
    border-color: #ff9956;
}
.btn {
    background: #ff9a56 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    transition: all 0.8s ease-in-out 0s; -moz-transition: all 0.8s ease-in-out 0s; -webkit-transition: all 0.8s ease-in-out 0s; -o-transition: all 0.8s ease-in-out 0s;
 -ms-transition: all 0.8s ease-in-out 0s;
} 
.btn:hover, .btn:focus, .btn:active, .btn.active {
    background: #e87f3e none repeat scroll 0 0;
    color: #fff;
}
/* Button Toggle */
.btn-toggle .btn-primary {
    background-color: #ff9a56;
    border-color: #ff9a56;
    color: #fff;
}
.btn-toggle .btn-primary:hover {
    background-color: #e87f3e;
    border-color: #e87f3e;
    color: #fff;
}
.btn-toggle .btn-primary.active, .btn-toggle .btn-primary:active, .open > .btn-toggle .dropdown-toggle.btn-primary {
    background-color: #e87f3e;
    border-color: #e87f3e;
    color: #fff;
}
/* Map Css */
.location-map { padding-bottom:0; position:relative; z-index:0; border-bottom:solid 2px #fff; }
.location-map .google-map { height:500px; width:100%; border-top:solid 1px #e2e1e1; }
.location-map .gmap_marker { color:#f00; text-align:center; }

/* Autocomplete CSS Search  */
.ui-menu .ui-menu-item .ui-menu-item-icon {
    background-repeat: no-repeat;
    background-position: 2px, 0;
    background-size: 16px;
    padding-left: 23px;
}

/* panel css */
.head-detail{
    overflow:hidden;
}
.area-wrapper{
    margin-top: 20px;
}
.wrapplace{
    background: #ddd;
    padding: 20px;
    margin-bottom:20px;
}
.cat-title{
    padding: 10px;
    background: #ddd;
    margin-bottom: 20px;
}
.siteurl a{
    color: #000;
    font-weight: bold;
}
.country{
    font-weight: bold;
}
.loggedin{
    padding: 15px 0px 15px 15px;
}
.panel-wrapper{
    margin-top: 20px;
}
.panel-head {
    background: #ddd none repeat scroll 0 0;
    clear: both;
    display: table;
    padding: 10px 5px;
    width: 100%;
    margin-top: 10px;
}
.panel-list{
    margin-bottom: 10px;
}
.panel-form{
    margin: 20px 0;
}
.common-form .panel-form label{
    text-align: left;
}
.date-picker{
    width: 200px;
}
.show-hide-btn {
    border-radius: 5px;
    float: right;
    padding: 5px;
}
.mt-20{
    margin-top: 20px;
}
#chooselonglat{
    padding: 5px 20px;
}